nav ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li
{
    text-align: center;
    padding:  0em 1em;
}

nav ul li a
{
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition-duration: 200ms;
}

h2 a
{
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition-duration: 200ms;
}

h2 a:hover
{
    color: darkblue;
    font-size: 20pt;
}

nav ul li a:hover
{
    color: darkblue;
    font-size: large;
}

header
{
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    padding: 8px;
}

body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main
{
    margin:2em;
}

main section
{
    border-radius: 8px;
    background-color: lightgray;
    padding: 1em;
    margin-bottom: 2rem;
}

section h4
{
    margin: 0px;
}

footer
{
    padding: 8px;
    background-color: black;
    color: white;
    text-align: center;

    
}

section
{
    display: flex;
    flex-direction: column;
}

section a
{
    display: flex;
    
}

.pdf
{
    justify-content: center;
}

section a img
{
    transition-duration: 200ms;
}

section img
{
    margin: 0 auto;
}

section a img:hover
{
    transform: scale(1.2);
}

table
{
    margin: 2rem 4rem;
    border-collapse: collapse;
}

td,th
{
    padding: 6px;
    border: 2px solid;
}

th
{
    font-size: 14pt;
}